.mat-form-field-input{
  min-width: 300px;
  max-width: 500px;
  width: 100%;
}

.mat-button{
  border: 1px solid lightgrey;
}
.mat-button-save{
  width: 25%;
  border: 1px solid lightgrey;

}
.fav-save-project{
  position:fixed;
  bottom: 70px;
  right: 25px;
}
