<h2>Skills area</h2>

<mat-card *ngFor="let skill of skills" class="group-card">
  <mat-card-title routerLink="{{skill.id}}" class="skillTitle">{{skill.name}}</mat-card-title>
  <mat-card-actions>
    <button mat-button routerLink="{{skill.id}}/edit">Edit</button>
    <button mat-button (click)="delete(skill)">Delete</button>
  </mat-card-actions>
</mat-card>

<button mat-fab color="primary" class="fav-add-group" routerLink="create">
  <mat-icon aria-label="Add new skill">add</mat-icon>
</button>
<!--<div class="column">
  <label>Skill name:
    <input [(ngModel)]="skill.name" />
  </label>
  <!- (click) passes input value to add() and then clears the input
  <button class="sm" (click)="add()">
    Add
  </button>
</div>

<ul class="skills">
  <li *ngFor="let skill of skills">
    <a routerLink="/skill/{{skill.id}}">
      <span class="badge">{{skill.id}}</span>
      <span class="desc">{{skill.name}} </span>
    </a>
    <button class="delete" title="delete skill"
            (click)="delete(skill)">x</button>
  </li>
</ul>-->