<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="projectSelection">
    <form [formGroup]="projectSelection">
      <ng-template matStepLabel>Select a project</ng-template>
      <mat-form-field>
        <mat-select placeholder="Project" name="project" formControlName="projectId" required>
          <mat-option *ngFor="let project of projects" [value]="project">
            {{project.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext (click)="generateGroup(projectSelection.value['projectId'])">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="groupSelection">
    <form [formGroup]="groupSelection">
      <ng-template matStepLabel>Choose the members</ng-template>
      <mat-form-field>
        <mat-select placeholder="Members" formControlName="membersSelection" name="members" multiple>
          <mat-option *ngFor="let member of members" [value]="member.id">
            {{member.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext (click)="addMembers()">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    Now you can create the group for the project {{projectSelection.value['projectId'].name}}
    with the following members:
    <div *ngIf="members && group.membersId">
      <mat-list  *ngFor="let member of members">
       <mat-list-item *ngIf="group.membersId.includes(member.id)" > {{member.name}} </mat-list-item>
      </mat-list>
    </div>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <button mat-button (click)="saveGroup()" routerLink="../">Create</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>