<h1 align="center" *ngIf="viewing">Group details</h1>
<h1 align="center" *ngIf="editing">Group edit</h1>

<mat-divider> </mat-divider>
<div>
  <mat-grid-list cols="2" rowHeight="6:1">

    <mat-grid-tile colspan="1" >
      <h2>Project: </h2>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" *ngIf="viewing && group" >
      <h3 >{{ getProjectById( group.projectId ).name }}</h3>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" *ngIf="!viewing">
      <mat-select  placeholder="Project" name="project" #selectedProject [(ngModel)]="selectedProjectVal" required>
        <mat-option *ngFor="let project of projects" [value]="project" [disabled]="editing">
          <p><b>Name: </b>{{project.name}} <b *ngIf="project.assignedGroupId">-Has assigned group-</b> </p>
        </mat-option>
      </mat-select>
    </mat-grid-tile>

  </mat-grid-list>
</div>


<mat-divider> </mat-divider>
<h2>Staff members</h2>

<mat-list *ngIf="viewing && group" class="mat-list">
  <mat-list-item *ngFor="let member of getMembersInGroup(group.membersId)" >
    <p><b>Document: </b>{{member.document}} - <b>Name: </b> {{member.name}} {{member.lastName}}</p>
  </mat-list-item>
</mat-list>

<div *ngIf="!viewing && algorithm">

  <mat-selection-list  [(ngModel)]="selectedMembersInProject" *ngIf="editing && members && group">
    <h3>Staff members in group</h3>
    <mat-list-option *ngFor="let member of getMembersInGroup(group.membersId)" [value]="member.id" selected="true" >
      <p><b>Document: </b>{{member.document}} <b>Name: </b> {{member.name}} {{member.lastName}}</p>
    </mat-list-option>
  </mat-selection-list>

  <mat-divider class="mat-divider-selection"></mat-divider>
  <mat-selection-list  [(ngModel)]="selectedSuggested">
    <h3>Suggested staff for this project</h3>
    <mat-list-option *ngFor="let member of algorithm.suggestedStaffMember" [value]="member.id" >
      <p><b>Document: </b>{{member.document}} <b>Name: </b> {{member.name}} {{member.lastName}}</p>
    </mat-list-option>
    <p *ngIf="algorithm.suggestedStaffMember.length==0" >There is not suggested staff members</p>
  </mat-selection-list>

  <mat-divider class="mat-divider-selection"></mat-divider>
  <mat-selection-list [(ngModel)]="selectedOther">
    <h3>Other staff available</h3>
    <mat-list-option *ngFor="let member of algorithm.others" [value]="member.id" >
      <p><b>Document: </b>{{member.document}} <b>Name: </b> {{member.name}} {{member.lastName}}</p>
    </mat-list-option>
    <p *ngIf="algorithm.others.length==0" >There is not suggested others staff members</p>
  </mat-selection-list>

  <mat-divider class="mat-divider-selection"></mat-divider>
  <mat-selection-list [(ngModel)]="selectedNonSuggested">
    <h3>Non suggested staff</h3>
    <mat-list-option *ngFor="let member of algorithm.nonSuggestedStaffMember" [value]="member.id" >
      <p><b>Document: </b>{{member.document}} <b>Name: </b> {{member.name}} {{member.lastName}}</p>
    </mat-list-option>
    <p *ngIf="algorithm.nonSuggestedStaffMember.length==0" >There is not non suggested staff members</p>
  </mat-selection-list>
</div>
<p>

</p>
<mat-divider> </mat-divider>
<p>

</p>


<button mat-fab color="primary" class="fav-action-group" (click)="saveGroup()" *ngIf="!viewing">
  <mat-icon>save</mat-icon>
</button>
<button mat-fab color="primary" class="fav-edit-group" *ngIf="viewing && show" routerLink="edit">
  <mat-icon>edit</mat-icon>
</button>
