<h2>Staff Members</h2>

<mat-list>
  <mat-list-item *ngFor="let staffMember of staffMembers" routerLink="{{staffMember.id}}" class="staffMemberName">
    <h4 mat-line rout>{{staffMember.name}} {{staffMember.lastName}}</h4>
    <p mat-line>{{staffMember.email}}</p>
    <button mat-mini-fab (click)="delete(staffMember)" color ="primary" *ngIf="show">
      <mat-icon aria-label="Delete staff member">
        delete
      </mat-icon>
    </button>
    <mat-divider class="mat-divider"></mat-divider>
  </mat-list-item>
</mat-list>

<button mat-fab color="primary" class="fav-add-group" routerLink="create" *ngIf="show">
  <mat-icon aria-label="Add new staffMember">add</mat-icon>
</button>
