<mdc-top-app-bar #topAppBar fixed short [fixedAdjustElement]="mainContent">
  <mdc-top-app-bar-row>
    <mdc-top-app-bar-section align="start" title="Moodle Plz">
      <mdc-icon mdcTopAppBarNavIcon (click)="appdrawer.open()" >menu</mdc-icon>
    </mdc-top-app-bar-section>
  </mdc-top-app-bar-row>
</mdc-top-app-bar>

<div #mainContent>
  <mdc-drawer #appdrawer="mdcDrawer" drawer="dismissible">
    <mdc-drawer-header title="moodle plz">

      <mdc-icon class="mdc-top-app-bar__navigation-icon" (click)="appdrawer.close()" >menu</mdc-icon>
    </mdc-drawer-header>
    <mdc-drawer-content>
      <mdc-list useActivatedClass>

        <mdc-list-item [routerLink]="['home']" routerLinkActive #rlaHome="routerLinkActive">
          <mdc-icon mdcListItemGraphic>home</mdc-icon>Home
        </mdc-list-item>
        <mdc-list-divider></mdc-list-divider>
        <mdc-list-item (click)="startVisible = !startVisible">
          <mdc-icon mdcListItemGraphic>keyboard_arrow_{{startVisible ? 'down' : 'right'}}</mdc-icon>Getting Started
        </mdc-list-item>
      </mdc-list>
    </mdc-drawer-content>
  </mdc-drawer>
    <router-outlet mdcDrawerAppContent></router-outlet>
</div>

