<h2>Groups</h2>

<mat-card *ngFor="let group of groups" class="group-card" routerLink="{{group.id}}" >
    <mat-card-title *ngIf="projects" >{{getProjectName(group.projectId)}}</mat-card-title>
    <mat-card-content>
        <mat-list *ngIf="members">
            <mat-list-item *ngFor="let staffMember of getMembersInGroup(group.membersId)"> <!--TODO: make this method-->
                <p><b>Name: </b> {{staffMember.name}} {{staffMember.lastName}}</p>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-mini-fab (click)="delete(group)" color ="primary" *ngIf="show">
        <mat-icon aria-label="Delete group">
          delete
        </mat-icon>
      </button>
    </mat-card-actions>
</mat-card>

<button mat-fab color="primary" class="fav-add-group" routerLink="create" *ngIf="show">
    <mat-icon aria-label="Add new group">add</mat-icon>
</button>
