<mat-card *ngIf="project">

  <mat-card-title align="center">{{project.name}} details </mat-card-title>
  <mat-card-content>
  <mat-grid-list cols="2" rowHeight="130" class="mat-grid-tile-date">
    <mat-grid-tile>
  <mat-card *ngIf="project.startDate" class="mat-card-date">
    <mat-card-title>Start date</mat-card-title>
    <mat-card-content>{{project.startDate}}</mat-card-content>
  </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
  <mat-card *ngIf="project.endDate" class="mat-card-date">
    <mat-card-title>End date</mat-card-title>
    <mat-card-content>{{project.endDate}}</mat-card-content>
  </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  </mat-card-content>



  <mat-card-content>
    <mat-accordion class="mat-accordion">
      <mat-expansion-panel *ngIf="skillAll" >
        <mat-expansion-panel-header>
          <mat-panel-title>Skills</mat-panel-title>
          <mat-panel-description>Show needed skills</mat-panel-description>
        </mat-expansion-panel-header>

        <mat-card class="skill-card" *ngFor="let skill of skillAll">
          <mat-card-title>{{skill.name}}</mat-card-title>
          <mat-card-content>
            Skill ID: {{skill.skillId}}
          </mat-card-content>
          <mat-card-content>
            Needed score: {{skill.score}}
          </mat-card-content>
        </mat-card>
      </mat-expansion-panel>

      <mat-expansion-panel *ngIf="knowledgeAll">
        <mat-expansion-panel-header>
          <mat-panel-title>Knowledges</mat-panel-title>
          <mat-panel-description>Show needed knowledges</mat-panel-description>
        </mat-expansion-panel-header>

        <mat-card class="knowledge-card" *ngFor="let knowledge of knowledgeAll">
          <mat-card-title>{{knowledge.name}}</mat-card-title>
          <mat-card-content>
            <mat-card-content>
              Knowledge ID: {{knowledge.knowledgeId}}
            </mat-card-content>
            <mat-card-content>
              Needed score: {{knowledge.score}}
            </mat-card-content>
          </mat-card-content>
        </mat-card>

      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>




</mat-card>

<button mat-fab color ="primary" class="fav-edit-project" routerLink="../../{{project.id}}/edit" *ngIf="project">
  <mat-icon aria-label="Edit project">edit</mat-icon>
</button>

<mat-divider></mat-divider>
<p>


</p>
