<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="personalInformation">
    <form [formGroup]="personalInformation">
      <ng-template matStepLabel>Fill the fields</ng-template>
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Last name" formControlName="lastName" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Document" formControlName="document" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" formControlName="password" required type="password">
      </mat-form-field>
    </form>
    <div>
      <button mat-button matStepperNext class="matt-button" (click)="addPersonalInformation()">Next</button>
    </div>
  </mat-step>

  <mat-step [stepControl]="skillSelection">
    <form [formGroup]="skillSelection">
      <ng-template matStepLabel>Select the skills</ng-template>
      <mat-form-field>
        <mat-select placeholder="Skill" formControlName="skillSelection" multiple required>
          <mat-option *ngFor="let skill of skills" [value]="skill">
            {{skill.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext class="matt-button" (click)="generateSkills()">Next</button>
      </div> 
    </form>
  </mat-step>

  <mat-step [stepControl]="skillScoreG">
    <form [formGroup]="skillScoreG">
      <ng-template matStepLabel>Register the score of the skills</ng-template>
      <mat-card *ngFor="let skill of addedSkills">
        <mat-card-title>{{skill.name}} score</mat-card-title>
        <mat-card-content>
          <input type="number" placeholder="Score" matInput min="10" max="100" [id]="skill.id" required>
        </mat-card-content>
      </mat-card>
    </form>
    <div>
      <button mat-button (click)="saveStaffMember()">Save</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>