
<mat-toolbar color="primary" class="example-toolbar" >
  <button mat-icon-button (click)="isExpanded = !isExpanded"><mat-icon>menu</mat-icon></button>
  <h1 class="example-app-name">Menu</h1>
</mat-toolbar>

<mat-sidenav-container class="example-container" [autosize]="true">

  <mat-sidenav #sidenav class="example-sidenav" mode="side" opened (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">

    <mat-nav-list>

      <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
        <span class="full-width" *ngIf="isExpanded || isShowing">Home</span>
        <mat-icon mat-list-icon>home</mat-icon>
        <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
      </mat-list-item>
      
      <a mat-list-item routerLink="staffmembers">
        <span class="full-width" *ngIf="isExpanded || isShowing">Staff Members</span>
        <mat-icon mat-list-icon>person</mat-icon>
      </a>

      <a mat-list-item routerLink="projects">
        <span class="full-width" *ngIf="isExpanded || isShowing">Projects</span>
        <mat-icon mat-list-icon>assignment</mat-icon>
      </a>

      <a mat-list-item routerLink="groups">
        <span class="full-width" *ngIf="isExpanded || isShowing">Groups</span>
        <mat-icon mat-list-icon>group</mat-icon>
      </a>

      <a mat-list-item routerLink="skills">
        <span class="full-width" *ngIf="isExpanded || isShowing">Skills</span>
        <mat-icon mat-list-icon>school</mat-icon>
      </a>

      <a mat-list-item routerLink="knowledges">
        <span class="full-width" *ngIf="isExpanded || isShowing">Knowledges</span>
        <mat-icon mat-list-icon>bookmarks</mat-icon>
      </a>


    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>

<mat-toolbar color="primary" class="example-toolbar-down" >
  <h1 class="example-app-name">Copyright</h1>
</mat-toolbar>
